@media (min-width:275px) and (max-width:576px)
{
    .head-social-icon,.sb-search,.icon-bar{
        display: none;
    }
    .head-contact > ul  {
        font-size: 12px;
        margin-top:20px;
        margin-left:10px;
    }
    
    .head-contact > ul > li.list-inline-item:nth-child(2)
     {
         border-right:1px solid white;
        padding:0px 20px 0px 10px
    }
    .head-contact > ul > li.list-inline-item:nth-child(3)
     {
        padding:0px 10px 0px 10px
    }
    .head-contact > ul > li.list-inline-item:nth-child(4)
    {
        color:red;
    }
  
    #menu .navbar-brand {
      margin-left: 0px;
     
    }
  
  
    #menu .menu-area{
        position: static;
        border: none;
        
    }
    #menu .mega-menu{
         
         margin-left: 0px;
         border: none;
    }
    #banner{
        width:567px;
        margin-bottom: 50px;
       
    }
    .carousel-caption h6
    {
       font-size: 16px;
        margin-left: -250px;
        color:  #fff;
    }
    .carousel-caption h1
    {
        font-size: 35px;
        margin-left: -230px;
        color:  #09e474;
    }
    #footer-end
{
    
    height: 40px;
    

}
#footer-end p{
    font-size: 12px;
    padding-left: 10px;
   
}
.footer-end-icon {
    display: none;
}
    
}

@media (min-width:577px) and (max-width:767px){
    .sb-search,.icon-bar
    {
        display: none;
    }
    .head-social-icon
    {
           margin-left: -100px;
    }
    .head-social-icon ul > li > a > i
    {
            width: 24px;
            height: 24px;
            color:#fff;
            margin-top: 18px;
            border: 1px solid #000;
            border-radius: 100%;
            text-align: center;
            line-height: 20px;
            transition: .5s;
            -webkit-transition: .5s;
            -moz-transition: .5s;
            -o-transition: .5s;
            font-size: 12px;
            
    }
    .head-social-icon ul > li > a > i:hover
    {
            
            background-color: #3cb878;
        
    }
    .head-contact > ul  {
            font-size: 12px;
            margin-top:20px;
            margin-left:10px;
        }
        
        .head-contact > ul > li.list-inline-item:nth-child(2)
         {
             border-right:1px solid white;
            padding:0px 20px 0px 10px;
        }
        .head-contact > ul > li.list-inline-item:nth-child(3)
         {
            padding:0px 10px 0px 10px;
        }
       
      
        #menu .navbar-brand {
          margin-left: 0px;
         
        }
      
      
        #menu .menu-area{
            position: static;
            border: none;
            
        }
        #menu .mega-menu{
             
             margin-left: 0px;
             border: none;
        }
    
        #banner{
            width:767px;
            margin-bottom: 50px;
           
        }
     .carousel-caption h6
     {
        font-size: 20px;
         margin-left: -250px;
         color:  #fff;
     }
     .carousel-caption h1
     {
         font-size: 40px;
         margin-left: -250px;
         color:  #09e474;
     } 
     .footer-end-icon ul{
        padding-right:50px;
        padding-top: 10px;
    }
    #footer-end p{
        font-size: 12px;
        font-weight: light;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        float: left;
        padding-left: 20px;
       
    }
    .footer-end-icon i{
        font-size: 18px;
        font-weight: light;
        padding-bottom: 10px;
        margin-left: 0px;
        
        
    }
    
}

@media (min-width:768px) and (max-width:1023px){
    .icon-bar{
        display: none;
    }
    .head-social-icon{
        margin-left: 20px;
    }
    .sb-search
    {
    position: relative;
    width: 0%;
    min-width: 30px;
    height:30px;
    border: 0px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    -webkit-transition:.4s;
    -moz-transition: .4s;
    transition: .4s;
    overflow: hidden;
    float: right;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    }

     .head-social-icon ul > li > a > i{
         width: 24px;
         height: 24px;
         color:#fff;
         margin-top: 18px;
         border: 1px solid #000;
         border-radius: 100%;
         text-align: center;
         line-height: 20px;
         transition: .5s;
         -webkit-transition: .5s;
         -moz-transition: .5s;
         -o-transition: .5s;
         font-size: 12px;
         
     }
     .head-social-icon ul > li > a > i:hover{
         
         background-color: #3cb878;
     
     }
     .head-contact > ul  {
         font-size: 14px;
         margin-top:20px;
         margin-left:30px;
     }
     
     .head-contact > ul > li.list-inline-item:nth-child(2)
      {
          border-right:1px solid white;
         padding:0px 20px 0px 10px;
     }
     .head-contact > ul > li.list-inline-item:nth-child(3)
      {
         padding:0px 10px 0px 10px;
     }
     .head-contact > ul > li.list-inline-item:nth-child(4)
     {
         color:red;
     }
   
     #menu .navbar-brand {
       margin-left: 0px;
       font-size: 40px;
      padding-right: 20px;
     }
   
   
     #menu .menu-area{
         position: static;
         border: none;
         
     }
     #menu ul li {
        margin-left: -10px;
    }
     #menu .mega-menu{
          
          margin-left: 0px;
          border: none;
     }
      
      #banner{
        width: 1023px;
        margin-bottom: 50px;
       
    }
 .carousel-caption h6
 {
    font-size: 20px;
     margin-left: -450px;
     color:  #fff;
 }
 .carousel-caption h1
 {
     font-size: 40px;
     margin-left: -450px;
     color:  #09e474;
 } 
 .caption h4 a{
    font-size: 16px;
   
}
.caption h6{
    font-size: 12px;
   
  }
  .footer-end-icon ul{
    padding-right:100px;
    padding-top: 10px;
}
.footer-end-icon i{
    font-size: 20px;
    font-weight: light;
    padding-bottom: 10px;
    margin-left: 10px;
    
    
}
#footer-end p{
    font-size: 14px;
    font-weight: light;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    float: left;
    padding-left: 20px;
   
}

}

@media (min-width:1024px) and (max-width:1200px)
{
    #menu .navbar-brand {
        color: black;
        text-decoration: none;
        font-family: 'Poppins medium',sans-serif;
        font-size: 40px;
        margin-left: 10px;
        padding-right: 50px;
    }
    #menu ul li {
        margin-left: -10px;
    }

   

    .icon-bar {
        position: absolute;
        top: 30%;
        right: -17%;
        margin-right:100px;
        font-size: 24px;
    
    }
    
    .icon-bar ul > li > i 
    {   
        padding-left:10px;
    }
    .shop-badge{
        border: 1px solid #fff;
        border-radius: 100%;
        position: absolute;
        top: -8px;
        left: 20px;
        padding: 2px;
        height: 20px;
        width: 20px;
        font-size: 14px;
        line-height: 16px;
        background-color:#3cb878;
        color: #fff;
    }
    .sb-search
    {
    position: relative;
    width: 0%;
    min-width: 30px;
    height:30px;
    border: 0px;
    margin-top: 25px;
    margin-right: 60px;
    margin-bottom: 10px;
    -webkit-transition:.4s;
    -moz-transition: .4s;
    transition: .4s;
    overflow: hidden;
    float: right;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    }
   
    .blog-area h5{
        font-size: 18px;
        max-width: 600px;
        font-family: 'Poppins medium',sans-serif;
        justify-content: center;
        align-items:center;
        margin-left: 150px;
        
    }
    .caption h4 a{
      font-size: 18px;
      
    }
    .meta li {
        width: 120px;
     }
     .meta li h6{
        color: #000;
        font-size: 14px;
        
     }
     .meta li i{
        padding-right: 5px;
        float: left;
        font-weight: bold;
       
       
    }
}